.home-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 70px;
    padding-left: 40px;
    gap: 50px;

}

.head-title {
    font-weight: bold;
    font-size: 35px;
    color: rgb(13, 124, 235);
}

.home-button {
    background-color: rgb(8, 183, 183);
    border: 2px solid rgb(8, 183, 183);
    border-radius: 10px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
    font-size: 17px;
}

.home-img img {
    border-radius: 20px;
    padding-right: 40px;
    width: 550px;
    height: 400px;
}

.services-head {
    padding-top: 60px;
    padding-bottom: 40px;
    font-weight: bold;
    font-size: 35px;
    color: rgb(13, 124, 235);
    text-align: center;

}

.card-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding-left: 100px;
    margin-bottom: 80px;
}

.card-section img {
    width: 286px;
    height: 250px;
}




.footers {
    background-color: black;
}

.footer-style {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding-left: 100px;
    color: white;
    font-size: 15px;
    padding-top: 30px;

}

.footer-title {
    color: white;
    font-size: 12px;
    text-align: center;
    padding-bottom: 30px;
}

@media only screen and (max-width: 767px) {
    .home-section {
        display: inline;
        padding-left: 30px;
        width: 100%;
        text-align: center;
        margin-right: 30px;
    }

    .card-section {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        padding-left: 100px;
        margin-bottom: 80px;
    }

    .footer-style {
        display: grid;
        grid-template-columns: 1fr;

        padding-left: 100px;
        padding-right: 100px;
        color: white;
        font-size: 15px;
        padding-top: 30px;
    }

    .footers {
        background-color: black;
        margin-left: 100px;
    }
}

@media only screen and (min-width: 767px) {
    .home-section {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 70px;
        padding-left: 40px;
        gap: 50px;

    }

    .card-section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        padding-left: 100px;
        margin-bottom: 80px;
    }

    .footer-style {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        padding-left: 100px;
        color: white;
        font-size: 15px;
        padding-top: 30px;

    }
}