.about-head {
    font-weight: bold;
    font-size: 35px;
    color: rgb(13, 124, 235);
    text-align: center;
    padding-top: 40px;

}

.pic-style {
    width: 400px;
    height: 450px;
    margin-left: 550px;
    padding-top: 40px;
}

.about-name {
    text-align: center;
    font-weight: bold;
    padding-top: 40px;
}

.about-details {
    margin-left: 480px;
    margin-bottom: 30px;
    border: 2px solid rgb(246, 224, 99);
    border-radius: 20px;
    background-color: rgb(246, 224, 99);
    padding: 20px;
    width: 450px;
}